version: '3.8'

services:
  api:
    build:
      context: ./api-project
      dockerfile: Dockerfile
    container_name: api-project
    ports:
      - "8000:8000"
    restart: unless-stopped
    networks:
      - app-network

  ui:
    build:
      context: ./ui-project
      dockerfile: Dockerfile
    container_name: ui-project
    ports:
      - "3000:3000"
    restart: unless-stopped
    depends_on:
      - api
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
